<html>
	<head>
		<title>Welcome to Durlabh Sharma's Site</title>
		<script src="/js/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/homepage.css" />
	</head>
		
	<body>
		<div class="center typewriter"></div>
		
	</body>
	<script>
		var text = "Probably an ugly site. But I don't care. I love it. <br> Want to see a slightly better version?<br><br><button type='button' class='click-me' id='button-id'>Click Me!</button>";
		var length = text.length;
		
		var timeOut;
		var character = 0;

	(function typeWriter() { 
		timeOut = setTimeout(function() {
			character++;
			var type = text.substring(0, character);
			$('.typewriter').html(type);
			typeWriter();
			
			if (character == length) {
				clearTimeout(timeOut);
			}
			
		}, 200);
	})();
	
	$('.typewriter').delegate("button","click",function(){
		alert(1);
	});
	
</script>
</html>